{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1>Log in</h1><hr/>

{% if form.errors %}
  <h3><p class="error">Please correct the errors below:</p></h3>
{% endif %}
<div class="span12">
  <div class="span3">&nbsp;&nbsp;
  </div>
<div class="span6">


<form method="post" action="?next={{ next|default:"/user/" }}">{% csrf_token %}
<dl
<dt><label for="id_username"  class="span4">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password"  class="span4">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" class="btn btn-primary pull-right" /></dt>
</dl>
</form>
</div>
</div>
{% endblock %}

{% block content-related %}
<p>If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.
{% endblock %}