{% include 'header.html' %}
<body>
   {% include 'nav.html' %}
   <div class="container">
   <div class="row">
      <div class="col-lg-6">
         <section id="">
            <h2>For Advertisers</h2>
            <div class="well">
              <h4> To quote the mastervillian of the Dark Knight Rises,</h4><br/>
                <h3> "If you are good at something, never do it free". </h3><br/>
               <h4>Project X is a is the perfect market to sell your skills.
               Turn you hobby into your pocket money, or perhaps even start your own business from the comfort of your home.
               Just post your service on Project X and we'll help you connect to prospect customers looking for your skills.
               You can even use our payment engine for hassle free and quick payments.
               So what are you waiting for? Let us know what you are good at and start earning today!
               <br/>
               <a href="/content/advertisers/">Know More</a>
            </h4></div>
         </section>
      </div>
      <div class="col-lg-6">
         <section id="">
            <h2>For Users</h2>
            <div class="well">
             <h4>  Project X is the perfect marketplace to find people to do your odd jobs.
             With a plethora of users, you can find just the person you need.
             From amateurs to professionals, you can use our rating system to find the best service provider.
             What's more? You can even contact the seller and bargain, or perhaps even get a personalised quote.
             Our payment engine makes the process hassle free, and at the same time, protects you from any kind of fraud.
             Pay only when you are satisfied. Start searching today!
              
               <br/>
                <a href="/content/users/">Know More</a>
                 </h4>
            </div>
         </section>
      </div>
   </div>
  </div> <!-- /container -->
   {% include 'footer.html' %}
</body>
</html>

