{% include 'header.html' %}
<body>
   {% include 'nav.html' %}
   <div class="container">
   <div class="row">
      <div class="col-lg-9">
      {% if name  %}
         <section id="">
            
                   <h2> {{ name }}  </h2>
          
            
            <div class="well">

            {% if text  %}
                    {{ text }}
            {% else %}
                    <h1>Opps Are you here in error ? </h1>
            {% endif %}
          
            </div>
         </section>

       {% endif %}
      </div>
      <div class="col-lg-3">
         <section id="">
            <h2>Popular</h2>
            <ul>
              <li><a href="">Document 1</a></li>
              <li><a href="">Document 2</a></li>
              <li><a href="">Document 3</a></li>
              <li><a href="">Document 4</a></li>
              <li><a href="">Document 5</a></li>
            </ul>
          
         </section>
      </div>
   </div>
  </div> <!-- /container -->
   {% include 'footer.html' %}
</body>
</html>


