<hr/>  
 <div class="bs-old-docs">
  <div class="container">
  <center>
   -----------------------Social Media ------------------------
 </center>
  </div>
</div>



<footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-7">
                  <h3 class="footer-title">Quick Links </h3>
                  <p>Hey folks welcome to our awesome product <br/>
                     Stay tuned.
                  </p>
                  
                  
               </div>
               <!-- /col-lg-8 -->
               <div class="col-lg-5">
                  <div class="footer-banner">
                     <h3 class="footer-title">Support</h3>
                     <ul>
                        <li>Advertiser Support </li>
                        <li>Buyers Support </li>
                        <li>Seller Support </li>
                        <li>Technical Support </li>
                     </ul>
                    
                  </div>
               </div>
            </div>
         </div>
      </footer>
        <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://getbootstrap.com/assets/js/jquery.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="http://getbootstrap.com/assets/js/holder.js"></script>
<script src="http://getbootstrap.com/assets/js/application.js"></script>



  </body>
</html>
