{% include 'header.html' %}
   <body>
{% include 'nav.html' %}
      <div class="container">
         
         <!-- Main hero unit for a primary marketing message or call to action -->
        



         <div class="bs-masthead">
               <div class="container">
                  <center>
                     <p>
                        To quote the mastervillian of the Dark Knight Rises
                        <h3>"If you are good at something, never do it free."</h3></p><br/>
                        <p>This is an awesome product which will be soon in the market stay tuned. </p>
                        <p><a href="about" class="btn btn-bs btn-large">Learn more &raquo;</a></p>
                     </p>
                  </center>
              </div>
         </div>


<hr/>

         <div class="row">
         <h1> Featured </h1>
         </div>
         <div class="row">
         <hr/>
         {% for item in ite %}
            <div class="col-lg-4">
               <div class="tile">
              <a href="/item/view/{{item.slug}}">
                 <img src="http://placehold.it/150x100/fbc98a/000000&text={{ item.name  }}" />
                 <h3 class="tile-title">{{ item.name }}</h3>
              </a>
            </div> 
         </div>
         {% endfor %}
         </div>
         <hr/>
      </div>
      <!-- /container -->
    {% include 'footer.html' %}
   </body>
</html>
