{% include 'header.html' %}
<body>
   {% include 'nav.html' %}
   <div class="container">
   <div class="row">
    {% for item in ite %}
            <div class="span2">
              <a href="/item/view/{{item.slug}}">
                <h3>{{ item.name }}</h3>
                 <img src="http://placehold.it/250x300/fbc98a/000000&text=Product Image" />
                 <p>{{ item.text  }}  </p>
              </a>
            </div> 

    {% endfor %}

   </div>

   <div class="row">
    <div class="span4">
      &nbsp;
    </div> 
    <div class="span4">
      <a href="#" class="btn">Click Here To Load More </a>
    </div>
    <div class="span4">
      &nbsp;
    </div>

   </div>
  </div> <!-- /container -->
   {% include 'footer.html' %}
</body>
</html>

