{% include 'header.html' %}
<body>
   {% include 'nav.html' %}
   <div class="container">
   <div class="row">
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>


            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>


            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>

            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>

            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div><div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
            <div class="span2">
              <img src="http://placehold.it/350x150/98E37B/000000&text=Advertisment" />
            </div>
   </div>
  </div> <!-- /container -->
   {% include 'footer.html' %}
</body>
</html>

