<style>
.subnav {
	margin-bottom: 60px;
	width: 100%;
	height: 50px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

 @media (max-width: 767px) {
 
	.subnav {
		position: static;
		top: auto;
		z-index: auto;
		width: auto;
		height: auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
 
}
 
@media (min-width: 980px) {
  
	.subnav-fixed {
		position: fixed;
		top: 40px;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
	}
}
 
@media (min-width: 1210px) {
 
	.subnav-fixed .nav {
		width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
	}
}
 </style>
 <script type="text/javascript">
(function ($) {

	$(function(){

		// fix sub nav on scroll
		var $win = $(window),
				$nav = $('.subnav'),
				navHeight = $('.navbar').first().height(),
				navTop = $('.subnav').length && $('.subnav').offset().top - navHeight,
				isFixed = 0;

		processScroll();

		$win.on('scroll', processScroll);

		function processScroll() {
			var i, scrollTop = $win.scrollTop();
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1;
				$nav.addClass('subnav-fixed');
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0;
				$nav.removeClass('subnav-fixed');
			}
		}

	});

})(window.jQuery);
</script>
    

   <div class='subnav navbar navbar-inverse'>
   	<div class="row">
    	 <div class="span12">
			    <form  action="/" class="form-inline" >
			      <input name="q" class="span6" type="text"  placeholder="Keywords: Ruby, Rails, Django" >
			      <input name="loc" class="span5" type="text"  placeholder="Location: City, State, Zip">
			      <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
			    </form>
  		</div>
  	</div>
   </div>

