<script type="text/javascript">
(function ($) {

	$(function(){

		// fix sub nav on scroll
		var $win = $(window),
				$nav = $('.subnav'),
				navHeight = $('.navbar').first().height(),
				navTop = $('.subnav').length && $('.subnav').offset().top - navHeight,
				isFixed = 0;

		processScroll();

		$win.on('scroll', processScroll);

		function processScroll() {
			var i, scrollTop = $win.scrollTop();
			if (scrollTop >= navTop && !isFixed) {
				isFixed = 1;
				$nav.addClass('subnav-fixed');
			} else if (scrollTop <= navTop && isFixed) {
				isFixed = 0;
				$nav.removeClass('navbar-fixed-top');
			}
		}

	});

})(window.jQuery);
</script>
    

   <div class='navbar navbar-inverse '>
   	<div class="row">
    	 <div class="span12">
			    <form  action="/" class="form-inline" >
			      <input name="q" class="span6" type="text"  placeholder="Keywords: Ruby, Rails, Django" >
			      <input name="loc" class="span5" type="text"  placeholder="Location: City, State, Zip">
			      <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
			    </form>
  		</div>
  	</div>
   </div>

