
            <div class="navbar navbar-inverse navbar-fixed-top" >
               <div class="navbar-inner">
                  <div class="container">
                     <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                     <a class="brand" href="/">GigAddict</a>
                     <div class="nav-collapse collapse" id="nav-collapse-01">
                        <ul class="nav pull-right">
                           <li>
                              <a href="#fakelink">  Browse   </a>
                           </li>
                           <li>
                              <a href="#fakelink">   FAQ    </a>
                              <ul>
                                 <li><a href="#fakelink">Faq 1</a></li>
                                 <li><a href="#fakelink">Faq 2</a></li>
                                 <li><a href="#fakelink">Faq 3</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="/about">
                              About Us
                              <span class="navbar-unread">10</span>
                              </a>
                           </li>
                           <li>
                              <a href="/accounts/login/">
                              Login 
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>